.container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #d2d3d3;
  padding: 10px 40px 20px 20px;
}
.form {
  display: flex;
  justify-content: space-between;
  &__item {
    label {
      padding: 10px 0;
    }
    display: flex;
    flex-basis: 42%;
    padding-bottom: 20px;
    flex-direction: column;
    &:nth-child(3) {
      flex-basis: 10%;
      justify-content: flex-end;
    }
  }
}
.out-contaner {
  background-color: #fff;
}

.panel {
  border: 2px solid black;
}
